<a href="https://colab.research.google.com/github/Judyy/AAI614_Matar/blob/main/Notebook_outliers_IQR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AAI614: Data Science & its Applications

*Notebook_outliers_IQR Practice with Data Cleaning*

In [ ]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

 Load the datafile from GitHub

In [ ]:
grads = pd.read_csv("https://raw.githubusercontent.com/harmanani/AAI614/main/Week%203/grads.csv")

In [ ]:
grads.head(100)

,Student Name,Avg Hours Studies per Week,GPA,University,Sense of Humour (0-5),Salary
0,George,20,NaN,NYU,3.0,$40k
1,Jerry,35,3.5,Columbia,5.0,$80k
2,Elaine,55,4.0,Columbia,4.2,$60k
3,Cosmo,5,2.0,City College,2.0,$25k
4,Newman,25,2.8,City College,0.0,$50k
5,Frank,35,3.0,Festivus Uni,NaN,$40k
6,Estelle,100,3.2,Festivus Uni,1.7,$0k
7,Leo,15,2.4,Festivus Uni,0.0,$35k
8,Rachel,50,4.0,Columbia,NaN,$75k

Code for Analyzing and Sharing Outliers Using TfidfVectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Step 1: Use TfidfVectorizer with custom parameters
vec = TfidfVectorizer(max_features=3, ngram_range=(1, 2))
X = vec.fit_transform(grads)

# Step 2: Convert the TF-IDF result into a DataFrame for easier interpretation
df_tfidf = pd.DataFrame(X.toarray(), columns=vec.get_feature_names_out())

# Step 3: Print and analyze the DataFrame
print("TF-IDF Features DataFrame:")
print(df_tfidf)

TF-IDF Features DataFrame:
       avg  studies  studies per
0  0.00000  0.00000      0.00000
1  0.57735  0.57735      0.57735
2  0.00000  0.00000      0.00000
3  0.00000  0.00000      0.00000
4  0.00000  0.00000      0.00000
5  0.00000  0.00000      0.00000

The columns avg, studies, and studies per are the features selected by the TfidfVectorizer. These terms were identified as significant based on the frequency and distribution in the sample text data.

Another method is to find the outliers using IQR method.

In [ ]:
print(df['Values'].dtype)

float64

In [ ]:
df['Values'] = pd.to_numeric(df['Values'], errors='coerce')

In [ ]:
print(df.isnull().sum())

Values    0
dtype: int64

In [ ]:
df = df.dropna()  # This will remove rows with NaN values

In [ ]:
print(df.isnull().sum())

Values    0
dtype: int64

In [ ]:
#Knowing that the salary column can be considered as a number column. removing the $ and k sign is mandatory before transforming this to int
grads['Salary'] = grads['Salary'].str.replace('$', '').str.replace('k', '').astype(int)
numerical_columns = ["Avg Hours Studies per Week", "GPA", "Sense of Humour (0-5)","Salary"]

In [ ]:
def find_outliers_iqr(column,col):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    #print(f"For column {col}:\n    lower_bound is {lower_bound} \n    upper_bound is: {upper_bound}")
    outliers = column[(column < lower_bound) | (column > upper_bound)]
    return outliers

# Identify outliers for numerical columns
outliers = {}
numerical_columns = ["Avg Hours Studies per Week", "GPA", "Sense of Humour (0-5)","Salary"]
for col in numerical_columns:
    outliers[col] = find_outliers_iqr(grads[col],col)

# Print outliers
for col, outlier_values in outliers.items():
    print(f"Outliers in {col}:")
    print(outlier_values)
    print()

Outliers in Avg Hours Studies per Week:
6    100
Name: Avg Hours Studies per Week, dtype: int64

Outliers in GPA:
Series([], Name: GPA, dtype: float64)

Outliers in Sense of Humour (0-5):
Series([], Name: Sense of Humour (0-5), dtype: float64)

Outliers in Salary:
Series([], Name: Salary, dtype: int64)

In [ ]:
print(grads)

  Student Name  Avg Hours Studies per Week  GPA     University  \
0       George                          20  NaN            NYU
1        Jerry                          35  3.5       Columbia
2       Elaine                          55  4.0       Columbia
3        Cosmo                           5  2.0   City College
4       Newman                          25  2.8   City College
5        Frank                          35  3.0   Festivus Uni
6      Estelle                         100  3.2  Festivus Uni
7          Leo                          15  2.4   Festivus Uni
8       Rachel                          50  4.0       Columbia

   Sense of Humour (0-5)  Salary
0                    3.0      40
1                    5.0      80
2                    4.2      60
3                    2.0      25
4                    0.0      50
5                    NaN      40
6                    1.7       0
7                    0.0      35
8                    NaN      75