<a href="https://colab.research.google.com/github/Judyy/AAI614_Matar/blob/main/Notebook3_2_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AAI614: Data Science & its Applications

*Notebook 3.2: Practice with Data Cleaning*

<a href="https://colab.research.google.com/github/harmanani/AAI614/blob/main/Week%203/Notebook3.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

Exercise I. Load the following datafile from GitHub

In [8]:
grads = pd.read_csv("https://raw.githubusercontent.com/harmanani/AAI614/main/Week%203/grads.csv")

In [9]:
grads

,Student Name,Avg Hours Studies per Week,GPA,University,Sense of Humour (0-5),Salary
0,George,20,NaN,NYU,3.0,$40k
1,Jerry,35,3.5,Columbia,5.0,$80k
2,Elaine,55,4.0,Columbia,4.2,$60k
3,Cosmo,5,2.0,City College,2.0,$25k
4,Newman,25,2.8,City College,0.0,$50k
5,Frank,35,3.0,Festivus Uni,NaN,$40k
6,Estelle,100,3.2,Festivus Uni,1.7,$0k
7,Leo,15,2.4,Festivus Uni,0.0,$35k
8,Rachel,50,4.0,Columbia,NaN,$75k

Question 1: Identify all the outliers in the above data.  Justify your answers using objective measures.

In [12]:
from scipy import stats
df = pd.DataFrame(grads)

# Converting Salary to numeric values (removing $ and k)
df["Salary"] = df["Salary"].str.replace("$", "").str.replace("k", "").astype(float) * 1000

# Function to identify outliers using IQR
def identify_outliers_iqr(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column_name] < lower_bound) | (df[column_name] > upper_bound)]
    return outliers

# Function to identify outliers using Z-score
import numpy as np

def identify_outliers_zscore(df, column_name):
    # Drop NaN values from the column for Z-score calculation
    non_na_data = df[column_name].dropna()
    z_scores = stats.zscore(non_na_data)

    # Create a boolean mask for outliers
    outliers_mask = np.abs(z_scores) > 3

    # Use the original index from non_na_data to locate outliers in the original DataFrame
    outliers = df.loc[non_na_data.index[outliers_mask]]
    return outliers

# Checking for outliers in each numerical column
print("Outliers in 'Avg Hours Studies per Week' using IQR:")
print(identify_outliers_iqr(df, "Avg Hours Studies per Week"))

print("\nOutliers in 'GPA' using IQR:")
print(identify_outliers_iqr(df, "GPA"))

print("\nOutliers in 'Sense of Humour (0-5)' using IQR:")
print(identify_outliers_iqr(df, "Sense of Humour (0-5)"))

print("\nOutliers in 'Salary' using IQR:")
print(identify_outliers_iqr(df, "Salary"))

print("\nOutliers in 'Avg Hours Studies per Week' using Z-score:")
print(identify_outliers_zscore(df, "Avg Hours Studies per Week"))

print("\nOutliers in 'GPA' using Z-score:")
print(identify_outliers_zscore(df, "GPA"))

print("\nOutliers in 'Sense of Humour (0-5)' using Z-score:")
print(identify_outliers_zscore(df, "Sense of Humour (0-5)"))

print("\nOutliers in 'Salary' using Z-score:")
print(identify_outliers_zscore(df, "Salary"))

Outliers in 'Avg Hours Studies per Week' using IQR:
  Student Name  Avg Hours Studies per Week  GPA     University  \
6      Estelle                         100  3.2  Festivus Uni

   Sense of Humour (0-5)  Salary
6                    1.7     0.0

Outliers in 'GPA' using IQR:
Empty DataFrame
Columns: [Student Name, Avg Hours Studies per Week, GPA, University, Sense of Humour (0-5), Salary]
Index: []

Outliers in 'Sense of Humour (0-5)' using IQR:
Empty DataFrame
Columns: [Student Name, Avg Hours Studies per Week, GPA, University, Sense of Humour (0-5), Salary]
Index: []

Outliers in 'Salary' using IQR:
Empty DataFrame
Columns: [Student Name, Avg Hours Studies per Week, GPA, University, Sense of Humour (0-5), Salary]
Index: []

Outliers in 'Avg Hours Studies per Week' using Z-score:
Empty DataFrame
Columns: [Student Name, Avg Hours Studies per Week, GPA, University, Sense of Humour (0-5), Salary]
Index: []

Outliers in 'GPA' using Z-score:
Empty DataFrame
Columns: [Student Name, Avg Hours Studies per Week, GPA, University, Sense of Humour (0-5), Salary]
Index: []

Outliers in 'Sense of Humour (0-5)' using Z-score:
Empty DataFrame
Columns: [Student Name, Avg Hours Studies per Week, GPA, University, Sense of Humour (0-5), Salary]
Index: []

Outliers in 'Salary' using Z-score:
Empty DataFrame
Columns: [Student Name, Avg Hours Studies per Week, GPA, University, Sense of Humour (0-5), Salary]
Index: []

Question 2: There are various data that are missing.  Fill-in the missing data or delete the rows/columns that you think you should delete.  Justify your answer

In [13]:
# Checking for missing values
print(df.isnull().sum())

Student Name                  0
Avg Hours Studies per Week    0
GPA                           1
University                    0
Sense of Humour (0-5)         2
Salary                        0
dtype: int64

In [14]:
# drop the missing data
df.dropna(subset=["GPA"], inplace=True)  # Drop rows where GPA is missing
df.dropna(subset=["Sense of Humour (0-5)"], inplace=True)  # Drop rows where Sense of Humour is missing

print(df)

  Student Name  Avg Hours Studies per Week  GPA     University  \
1        Jerry                          35  3.5       Columbia
2       Elaine                          55  4.0       Columbia
3        Cosmo                           5  2.0   City College
4       Newman                          25  2.8   City College
6      Estelle                         100  3.2  Festivus Uni
7          Leo                          15  2.4   Festivus Uni

   Sense of Humour (0-5)   Salary
1                    5.0  80000.0
2                    4.2  60000.0
3                    2.0  25000.0
4                    0.0  50000.0
6                    1.7      0.0
7                    0.0  35000.0

In [15]:
# Checking for missing values
print(df.isnull().sum())

Student Name                  0
Avg Hours Studies per Week    0
GPA                           0
University                    0
Sense of Humour (0-5)         0
Salary                        0
dtype: int64

Question 3: Reload the data and fill-in the data using mean method as well as the frequent method.

In [16]:
grads = pd.read_csv("https://raw.githubusercontent.com/harmanani/AAI614/main/Week%203/grads.csv")
df = pd.DataFrame(grads)
# Checking for missing values
print(df.isnull().sum())

Student Name                  0
Avg Hours Studies per Week    0
GPA                           1
University                    0
Sense of Humour (0-5)         2
Salary                        0
dtype: int64

In [17]:
# Filling missing GPA values with the mean
df["GPA"].fillna(df["GPA"].mean(), inplace=True)

# Filling missing values using the frequent method (mode) for categorical columns
df["Sense of Humour (0-5)"].fillna(df["Sense of Humour (0-5)"].mode()[0], inplace=True)

<ipython-input-17-69cb6dcc4d83>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["GPA"].fillna(df["GPA"].mean(), inplace=True)
<ipython-input-17-69cb6dcc4d83>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Sense of Humour (0-5)"].fillna(df["Sense of Humour (0-5)"].mode()[0], inplace=True)

In [18]:
# Filling missing values using the mean method for numeric columns
df["GPA"].fillna(df["GPA"].mean(), inplace=True)
df["Sense of Humour (0-5)"].fillna(df["Sense of Humour (0-5)"].mean(), inplace=True)

<ipython-input-18-47639300fa11>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["GPA"].fillna(df["GPA"].mean(), inplace=True)
<ipython-input-18-47639300fa11>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Sense of Humour (0-5)"].fillna(df["Sense of Humour (0-5)"].mean(), inplace=True)

In [19]:
# Filling missing values using the mean method for numeric columns
df["GPA"] = df["GPA"].fillna(df["GPA"].mean())
df["Sense of Humour (0-5)"] = df["Sense of Humour (0-5)"].fillna(df["Sense of Humour (0-5)"].mean())

# Filling missing values using the frequent method (mode) for categorical columns
df["University"] = df["University"].fillna(df["University"].mode()[0])

In [20]:
# Checking for missing values
print(df.isnull().sum())

Student Name                  0
Avg Hours Studies per Week    0
GPA                           0
University                    0
Sense of Humour (0-5)         0
Salary                        0
dtype: int64

Exercise II. Run the cell below to create a new dataframe called `df_miss`.  Its first column will contain some missing values.

In [21]:
import pandas as pd
import numpy as np
import random

nrows = 10
ncols = 5

# set a seed for random number generation
np.random.seed(314)
# create an array filled with random data
data = np.array(np.random.rand(nrows, ncols))
# put the data to a pandas dataframe
df_miss = pd.DataFrame(data)
# rename the columns
df_miss.columns = ['col_'+str(ii) for ii in range(ncols)]

# randomly set some values to missing
ix0 = np.random.randint(nrows, size=3)
ix1 = np.random.randint(nrows, size=3)

df_miss['col_0'][ix0] = np.nan
df_miss['col_1'][ix1] = np.nan

print(df_miss)

      col_0     col_1     col_2     col_3     col_4
0       NaN       NaN  0.265048  0.783205  0.918001
1  0.827355       NaN  0.260480  0.911763  0.260757
2  0.766376  0.261531  0.122291  0.386006  0.840081
3       NaN       NaN  0.633110  0.584766  0.581232
4  0.677205  0.687155  0.438927  0.320927  0.570552
5       NaN  0.861074  0.834805  0.105766  0.060408
6  0.596882  0.792395  0.226356  0.535201  0.136066
7  0.372244  0.151977  0.429822  0.792706  0.406957
8  0.177850  0.909252  0.545331  0.100497  0.718721
9  0.978429  0.309776  0.260126  0.662900  0.139720

<ipython-input-21-a77e6ba6a8cb>:21: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_miss['col_0'][ix0] = np.nan
<ipython-input-21-a77e6ba6a8cb>:22: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_miss['col_1'][ix1] = np.nan

Impute the missing values (NaN) in `col_0` (but not `col_1`) with the median.  Store the values in the dataframe by using the parameter `inplace`.  Print the dataframe.

In [23]:
# Checking for missing values
print(df_miss.isnull().sum())

col_0    3
col_1    3
col_2    0
col_3    0
col_4    0
dtype: int64

Impute the missing values in `col_1` with value 0.  Store the values in the dataframe by using the parameter `inplace`.  Print the dataframe.

In [24]:
# Impute missing values in 'col_1' with 0 using inplace=True
df_miss["col_1"].fillna(0, inplace=True)
# Checking for missing values
print(df_miss.isnull().sum())

col_0    3
col_1    0
col_2    0
col_3    0
col_4    0
dtype: int64

<ipython-input-24-ddce4f600d5e>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_miss["col_1"].fillna(0, inplace=True)

In [27]:
# Impute missing values in 'col_1' with 0 without using inplace
df_miss["col_1"] = df_miss["col_1"].fillna(0)

In [28]:
# Checking for missing values
print(df_miss.isnull().sum())

col_0    3
col_1    0
col_2    0
col_3    0
col_4    0
dtype: int64