<a href="https://colab.research.google.com/github/Judyy/AAI614_Matar/blob/main/Notebook2_6V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AAI614: Data Science & its Applications

*Notebook 2.6: Practice with Data Collections*

<a href="https://colab.research.google.com/github/gassaf2/AAI614_assaf/blob/main/week2/Notebook2.6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [4]:
# Import the taxi info from both January and July 2019.
# Include the following columns: tpep_pickup_datetime, passenger_count, trip_distance,
# fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge,
# total_amount, and congestion_surcharge.

filenames = ['https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aa.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aq.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bg.csv',
             'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ap.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ar.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aa.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aq.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ac.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01as.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ar.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ad.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01at.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ac.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07as.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ae.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01au.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ad.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07at.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01af.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01av.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ae.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07au.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ag.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aw.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07af.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07av.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ah.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ax.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ag.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aw.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ai.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ay.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ah.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ax.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aj.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01az.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ai.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ay.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ak.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ba.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aj.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07az.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01al.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bb.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ak.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ba.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01am.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bc.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07al.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07bb.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01an.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bd.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07am.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ao.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01be.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07an.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ap.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bf.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ao.csv']

In [5]:
# all_dfs = [pd.read_csv(one_filename) for one_filename in filenames]
# df = pd.concat(all_dfs)

# df.head()
df1=pd.read_csv(filenames[0])

In [6]:
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239.0,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246.0,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236.0,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193.0,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193.0,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235001,2,2019-01-02 10:41:39,2019-01-02 11:14:07,6,5.62,1,N,79,43.0,1.0,24.5,0.0,0.5,4.00,0.0,0.3,29.30,NaN
235002,1,2019-01-02 10:24:57,2019-01-02 10:52:02,1,6.10,1,N,79,239.0,2.0,24.0,0.0,0.5,0.00,0.0,0.3,24.80,NaN
235003,2,2019-01-02 10:16:16,2019-01-02 10:20:45,1,0.81,1,N,137,170.0,1.0,5.0,0.0,0.5,1.45,0.0,0.3,7.25,NaN
235004,2,2019-01-02 10:41:23,2019-01-02 10:46:37,1,1.00,1,N,107,161.0,1.0,6.0,0.0,0.5,1.36,0.0,0.3,8.16,NaN
235005,2,2019-01-02 10:51:06,2019-01-02 11:06:47,1,2.95,1,N,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
columns_use=df1.columns.tolist()
all_dfs = [pd.read_csv(one_filename,header=None,names=columns_use, usecols=range(18),skiprows=1) for one_filename in filenames[0:]]  # reading with skipping the first row

<ipython-input-7-a9c03943be60>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  all_dfs = [pd.read_csv(one_filename,header=None,names=columns_use, usecols=range(18),skiprows=1) for one_filename in filenames[0:]]  # reading with skipping the first row

In [8]:
dff=pd.concat(all_dfs,ignore_index=True)
dff

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.50,1.0,N,151.0,239.0,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1.0,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.60,1.0,N,239.0,246.0,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2.0,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.00,1.0,N,236.0,236.0,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2.0,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.00,1.0,N,193.0,193.0,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2.0,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.00,2.0,N,193.0,193.0,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13978205,2.0,2019-07-18 13:56:49,2019-07-18 14:20:47,1.0,1.70,1.0,N,161.0,68.0,1.0,15.0,0.0,0.5,2.00,0.0,0.3,20.30,2.5
13978206,1.0,2019-07-18 13:44:23,2019-07-18 13:52:09,2.0,1.50,1.0,N,246.0,158.0,1.0,8.0,2.5,0.5,2.25,0.0,0.3,13.55,2.5
13978207,1.0,2019-07-18 13:58:08,2019-07-18 13:59:54,1.0,0.10,1.0,N,90.0,90.0,2.0,3.0,2.5,0.5,0.00,0.0,0.3,6.30,2.5
13978208,2.0,2019-07-18 13:09:09,2019-07-18 14:20:14,5.0,16.85,2.0,N,161.0,132.0,1.0,52.0,0.0,0.5,11.06,0.0,0.3,66.36,2.5
13978209,2.0,2019-07-18 13:39:01,2019-07-18 13:53:44,5.0,1.97,1.0,N,234.0,148.0,1.0,11.0,0.0,0.5,3.58,0.0,0.3,17.88,2.5

In [9]:
df=dff

In [10]:
# Create a new column, pre_tip_amount
df['pre_tip_amount'] = (
    df
    [['fare_amount', 'extra', 'mta_tax', 'tolls_amount',
      'improvement_surcharge', 'congestion_surcharge']]
    .sum(axis='columns')
)

In [11]:
# Create a new column, tip_percentage, showing the percent of the fare_amount that people tipped
df['tip_percentage'] = df['tip_amount'] / df['pre_tip_amount']

In [12]:
# What was the overall tip percentage?
df['tip_percentage'].mean()

0.130039691057778

In [13]:
# How many times did people tip more than 100%?
(df['tip_percentage'] > 1).value_counts()
print(f"people tip  more than 100%,   {(df['tip_percentage'] > 1).value_counts()[1]} times")

people tip  more than 100%,   7831 times

<ipython-input-13-2db2a97b1959>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"people tip  more than 100%,   {(df['tip_percentage'] > 1).value_counts()[1]} times")

In [14]:
# What percent of taxi riders give no tip at all?
(df['tip_percentage'] == 0).value_counts(normalize=True)
print(f"the percentage of taxi riers that give no tip at all is {(df['tip_percentage'] == 0).value_counts(normalize=True)[1]*100:.2f}%")

the percentage of taxi riers that give no tip at all is 32.08%

<ipython-input-14-9e9d7145c704>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"the percentage of taxi riers that give no tip at all is {(df['tip_percentage'] == 0).value_counts(normalize=True)[1]*100:.2f}%")

In [16]:
# On which day of the week do people tip the greatest percentage?
# Mon = 0, Tues = 1, Wed = 2, Thu = 3, Fri = 4, Sat = 5, Sun = 6

df.groupby(df['tpep_pickup_datetime'].dt.day_of_week)['tip_percentage'].mean().sort_values(ascending=False)

AttributeError: Can only use .dt accessor with datetimelike values

In [17]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

ValueError: time data "2019-01-03 12:32" doesn't match format "%Y-%m-%d %H:%M:%S", at position 1107953. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [18]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], format='%Y-%m-%d %H:%M', errors='coerce')

In [19]:
df.groupby(df['tpep_pickup_datetime'].dt.day_of_week)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
3.0   NaN
Name: tip_percentage, dtype: float64

In [20]:
# On which day of the week do people tip the greatest percentage?
# Mon = 0, Tues = 1, Wed = 2, Thu = 3, Fri = 4, Sat = 5, Sun = 6

df.groupby(df['tpep_pickup_datetime'].dt.day_of_week)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
3.0   NaN
Name: tip_percentage, dtype: float64

In [21]:

# At which hour do people tip the greatest percentage?
df.groupby(df['tpep_pickup_datetime'].dt.hour)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
12.0   NaN
22.0   NaN
Name: tip_percentage, dtype: float64

In [22]:
# Do people tip more, on average, in January or July?
df.groupby(df['tpep_pickup_datetime'].dt.month)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
1.0   NaN
7.0   NaN
Name: tip_percentage, dtype: float64

People tip more in January with a tip percentage of 13.7% while in july they tip 12%

In [23]:
# # What was the 1-day period in our data set when people tipped the greatest percentage?
# df = df.set_index('tpep_pickup_datetime')
# df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)


# Try again, within our range
df = df.sort_index()

df = pd.concat([df.loc['2019-01-01':'2019-01-31'],df.loc['2019-07-01':'2019-07-31']])

#df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

In [24]:
# Try again, within our range
df = df.sort_index()

df = pd.concat([df.loc['2019-01-01':'2019-01-31'],
           df.loc['2019-07-01':'2019-07-31']])

df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [28]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')

In [29]:
df = df.set_index('tpep_pickup_datetime')

In [30]:
df = df.sort_index()

# Select data for January and July 2019
df = pd.concat([df.loc['2019-01-01':'2019-01-31'],
                df.loc['2019-07-01':'2019-07-31']])

# Resample and get the top 10 days with the highest average tip percentage
df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

Series([], Freq: D, Name: tip_percentage, dtype: float64)

In [31]:
# Try again, within our range
df = df.sort_index()

df = pd.concat([df.loc['2019-01-01':'2019-01-31'],
           df.loc['2019-07-01':'2019-07-31']])

df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

Series([], Freq: D, Name: tip_percentage, dtype: float64)

In [32]:
df.resample('1M')['tip_percentage'].mean().dropna()

<ipython-input-32-08600459fbd7>:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('1M')['tip_percentage'].mean().dropna()

Series([], Freq: ME, Name: tip_percentage, dtype: float64)

# Questions

1. We saw that 32 percent of riders don't tip at all. Of those who *do*, what percentage do they tip, on average?

In [27]:
# Filter out rows where tip_percentage is 0
df_tipped = df[df['tip_percentage'] > 0]

# Calculate the mean tip percentage for riders who tipped
average_tip_percentage = df_tipped['tip_percentage'].mean()

print(average_tip_percentage)

0.1914734236810178

In [28]:
average_tip_percentage = df[df['tip_percentage'] > 0]['tip_percentage'].mean()
print(f"Of those who tips, the percentage is {average_tip_percentage*100:.2f} %")

Of those who tips, the percentage is 19.15 %

2. How many of the rides in our data set, supposedly from January and July 2019, are from outside of those dates?

In [35]:
# #Selecting the data outside jan and july
# outside_jan_july = df[~((df.index >= '2019-01-01') & (df.index <= '2019-01-31')) &
#                       ~((df.index >= '2019-07-01') & (df.index <= '2019-07-31'))]
# num_outside = outside_jan_july.shape[0] # this is define the number of rides
# print(f"the number of rides outside the month of January and July 2019 is {num_outside} rides")
outside_dates = df[~((df.index >= '2019-01-01') & (df.index <= '2019-01-31')) &
                   ~((df.index >= '2019-07-01') & (df.index <= '2019-07-31'))]
num_outside_dates = outside_dates.shape[0]
print("Number of rides outside January and July 2019:", num_outside_dates)

Number of rides outside January and July 2019: 0

3. Looking only at dates in January and July, on what week did passengers tip the greatest percentage?

In [36]:
# Resample data by week ('W') and calculate the mean tip percentage for each week
weekly_tip_percentage = df.resample('W')['tip_percentage'].mean()

# Sort the weeks by tip percentage in descending order and get the top week
top_week = weekly_tip_percentage.sort_values(ascending=False).head(1)

print("Week with the highest average tip percentage:")
print(top_week)

Week with the highest average tip percentage:
Series([], Freq: W-SUN, Name: tip_percentage, dtype: float64)